<!-- views/client/account-menu.ejs -->
<h2>Account settings</h2>
<ul class="account-links">
  <li><button type="button" class="account-edit-toggle" data-target="section-account-edit-phone">Edit phone</button></li>
  <li><button type="button" class="account-edit-toggle" data-target="section-account-edit-address">Edit address</button></li>
  <li><button type="button" class="account-edit-toggle" data-target="section-account-edit-password">Change password</button></li>
</ul>
<p><button type="button" class="btn" data-target="section-account">Return to dashboard</button></p>
