<!-- views/client/account-menu.ejs -->
<h2>Account settings</h2>
<ul class="account-links">
  <li><a href="/client/account/phone">Edit phone</a></li>
  <li><a href="/client/account/address">Edit address</a></li>
  <li><a href="/client/account/password">Change password</a></li>
</ul>
<p><a href="/client/dashboard" class="btn">Return to dashboard</a></p>
