<header class="site-header">
  <div class="header-inner">
    <div class="logo">
      <img src="/images/logo.svg" alt="PadiFood logo" height="40" />
      <span class="brand">PadiFood</span>
    </div>
    <nav class="header-nav">
      <button id="btn-find-near">Find vendors near me</button>
      <% if (!user) { %>
        <a href="/auth/login" id="btn-login">Login</a>
        <a href="/auth/signup">Sign up</a>
      <% } else { %>
        <span>Hi, <%= user.name %></span>
        <a href="/auth/logout">Logout</a>
      <% } %>
    </nav>
  </div>
</header>
