<nav class="main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/vendors">Vendors</a></li>
    <li><a href="/portfolio">Wallet</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
</nav>
