<!--views/pages/contact.ejs-->
<section class="container page">
  <h1>Contact</h1>
  <p>
    For support:
    <a href="mailto:<%= process.env.ADMIN_EMAIL %>"
      ><%= process.env.ADMIN_EMAIL %></a
    >
  </p>
</section>
